extends ../../layouts/default.pug

block main
    if (singer.fullName)
        h1(class="mb-4") #{singer.fullName}

    if (singer.avatar)
        div(class="mb-4")
        img(
            src=singer.avatar
            style="width: 100px"
        )

    if (singer.status)
        div(class="mb-4")
        span Trạng thái:
        if (singer.status === "active")
            span(class="badge badge-success") Hoạt động
        else
            span(class="badge badge-danger") Dừng hoạt động

    if (singer.position)
        div(class="mb-4") Vị trí: <b>#{singer.position}</b>

    //- if (topic.description)
    //-     div(class="mb-4") !{topic.description}