mixin select-change-multi 
    form(
        action=`${path_admin}/topics/change-multi?_method=PATCH`
        method="POST"
        form-change-multi
    ) 
        .d-flex.align-items-start
            .form-group
                select(name="type" class="form-control")
                    option(value="active") Hoạt động
                    option(value="inactive") Dừng hoạt động
                    option(value="position") Thay đổi vị trí
                    option(value="delete") Xóa tất cả
            .form-group.d-none
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control"
                )
            button(type="submit" class="btn btn-primary") Áp dụng