header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href=`${path_admin}/dashboard`) ADMIN

            .col-9
                div(class="text-right")
                    a(
                        href=`${path_admin}/my-account`
                        class="btn btn-primary btn-sm mr-2"
                    ) Le Van A
                    a(
                        href=`${path_admin}/auth/logout`
                        class="btn btn-danger btn-sm"
                    ) Đăng xuất