.sider
    .inner-menu
        ul
            li
                a(href=`${path_admin}/dashboard`) Tổng quan
            li
                a(href=`${path_admin}/topics`) Quản lý chủ đề
            li
                a(href=`${path_admin}/songs`) Quản lý bài hát
            li
                a(href=`${path_admin}/singers`) Quản lý ca sĩ
            li
                a(href=`${path_admin}/roles`) Nhóm quyền
            li
                a(href=`${path_admin}/roles/permissions`) Phân quyền
            li
                a(href=`${path_admin}/accounts`) Tài khoản admin
            li
                a(href=`${path_admin}/users`) Tài khoản user
            li
                a(href=`${path_admin}/settings/general`) Cài đặt chung